<section class="banner">
  <div class="hero d-flex">
    <div class="logo">
    </div>
    <div class="hero-img">
    </div>
  </div>
  <div class="cta col-12 text-center mt-5">
    <p>Deixe seu telefone e email que NOS entraremos em contato!</p>
    <form class="form-inline row justify-content-center" action="https://formspree.io/f/mrgdglzp" method="POST">
      <div class="form-group form-email col-lg-4 col-md-8 p-0">
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
      </div>
      <div class="form-group form-phone col-lg-2 col-md-8 p-0">
        <input type="phone" name="phone" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Telefone">
      </div>
      <button type="submit" class="btn btn-primary form-button col-lg-2 col-md-8">Enviar</button>
    </form>
    <p>Se preferir, entre em contato via whatsapp!</p>
    <a href="https://wa.me/552196312XXXX" target="_blank" class="btn btn-success">Whatsapp</a>
  </div>
  </div>

</section>

<section class="gallery pt-4 pb-4">
  <div class="container col-lg-12 d-flex flex-wrap justify-content-between">
    <h2 class="container-title text-center mb-4 col-12">
      Galeria de fotos
    </h2>
    <div id="carouselExampleIndicators1" class="carousel slide col-lg-4 col-sm-12 p-2" data-bs-ride="false">
      <h3 class="card-title text-center">
        Cozinha
      </h3>
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag 'galery-slide/21.jpg', class:"d-block img-fluid" %>
        </div>
        <div class="carousel-item">
          <%= image_tag 'galery-slide/22.jpg', class:"d-block img-fluid" %>
        </div>
        <div class="carousel-item">
          <%= image_tag 'galery-slide/23.jpg', class:"d-block img-fluid" %>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div id="carouselExampleIndicators2" class="carousel slide col-lg-4 col-sm-12 p-2" data-bs-ride="false">
      <h3 class="card-title text-center">
        Sala
      </h3>
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag 'galery-slide/31.jpg', class:"d-block img-fluid" %>
        </div>
        <div class="carousel-item">
          <%= image_tag 'galery-slide/32.jpg', class:"d-block img-fluid" %>
        </div>
        <div class="carousel-item">
          <%= image_tag 'galery-slide/33.jpg', class:"d-block img-fluid" %>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide col-lg-4 col-sm-12 p-2" data-bs-ride="false">
      <h3 class="card-title text-center">
        Quarto
      </h3>
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag 'galery-slide/41.JPEG', class:"d-block img-fluid" %>
        </div>
        <div class="carousel-item">
          <%= image_tag 'galery-slide/42.JPEG', class:"d-block img-fluid" %>
        </div>
        <div class="carousel-item">
          <%= image_tag 'galery-slide/43.jpg', class:"d-block img-fluid" %>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
